*{
	margin:0;
	padding: 0;
}
nav{
	background-color: #fff;
	height: 100px;
}
#portada{
	background-image: url(../imgs/portada.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
}
.bg-orange{
	background-color: orange;
}
#portada>div{
	margin-top: 250px;
	height: 380px;
	padding: 20px;
}
#portada>div>h2{
	line-height: .4;
}
#portada>div>h3{
	line-height: 3;
}
.white-letter{
	color: #fff;
}
.white-log{
	width: 20%;
}
.img{
	width: 90%;
}
.letter-m{
	font-size: 18px;
}
.borde{
	border:solid white 1px;
}
#segundaSeccion{
	height: 500px;
}
.flex{
	display: flex;
	align-items: center;
}
.p-3{
	padding: 3% 0 3% 0;
}
#terceraSeccion{
	background-image: url(../imgs/conduce.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 350px
}
.bg-black{
	background-color: rgba(0,0,0,.5);
}
#terceraSeccion>div{
	height: 350px;
}
.mt-5{
	margin-top: 30%;
}
#cuartaSeccion{
	height: 400px;
}
#cuartaSeccion>div>div{
	margin-bottom: 5%;
}
input{
	color: #fff;
}
.p-1{
	padding: 1%;
}