nav{
	background-color: #fff;
	height: 100px;
}
#portada{
	background-image: url(../imgs/portada.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
}
.bg-orange{
	background-color: orange;
}
#portada>div{
	margin-top: 250px;
	height: 380px;
	padding: 20px;
}
#portada>div>h2{
	line-height: .4;
}
#portada>div>h3{
	line-height: 3;
}
.white-letter{
	color: #fff;
}
.white-log{
	width: 20%;
}
.img{
	width: 90%;
}
.letter-m{
	font-size: 18px;
}
.borde{
	border:solid white 1px;
}
#descarga{
	height: 500px;
	display: flex;
	align-items: center;
}
.p-3{
	padding: 3% 0 3% 0;
}